doctype html
html
  head
    title My Next Show
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/deps/jquery-2.1.1.min.js')
  body
    if(typeof(user) == 'undefined')
      span My Next Show!
    else
      span #{user.username}'s first show! 
      .right 
        a(href='/logout') Logout
    .content
      block content
   