doctype html
html
  head
    title My Next Show
    style: include ../public/css/main.css
  body
    if(typeof(user) == 'undefined')
      span My Next Show!
    else
      span #{user.username}'s first show! 
      .right 
        a(href='/logout') Logout
    .substance
      block content
   