doctype html
html
  head
    title My Next Show
  body
    if(typeof(user) == 'undefined')
      span ^____^
    else
      span @___@
      a(href='/logout') Logout
    .substance
      block content
   