extends base

block content
  if(user)
    span #{user.username}
    img(src='#{user.userPic}')
  else
    .error #{error}
    form.formHolder(action='/login',method='post',enctype='multipart/form-data')
      input(type='text',name='username',placeholder='Username')
      input(type='password',name='password',placeholder='Password')
      input(type='password',name='confirmPassword',placeholder='Confirm password')
      input(type='file',name='profilePicture',value='Upload a picture')
      button login
      button.register register
  script(src='/js/login.js')