extends base

block content
  if(user)
    span -___0 #{user.username}
  else
    form.formHolder(action='/login',method='post')
      input(type='text',name='username',placeholder='Username')
      input(type='password',name='password',placeholder='Password')
      input(type='password',name='confirmPassword',placeholder='Confirm password')
      input(type='file',name='profilePicture',value='Upload a picture')
      button login
      button.register register
  script(src='/js/login.js')